<footer class="footer" style="background-color: black; color: white;">
    <!-- Footer container -->
    <div class="container">
        <div class="footer-content">
            <!-- Footer logo -->
            <div class="footer-logo">
                <img src="./public/css/images/logo.png" alt="Footer Logo">
            </div>
        </div>
        <!-- Footer information -->
        <div class="footer-info">
            <!-- Copyright information -->
            <p>&copy; 2024 RD College of Education Auckland. All rights reserved.</p>
            <!-- Designer information -->
            <p>Designed with <i class="fas fa-heart"></i> by Ramandeep Singh</p>
        </div>
    </div>
</footer>
