<!-- Set character encoding to UTF-8 -->
<meta charset="UTF-8">
<!-- Set viewport for responsive design -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Set the title of the webpage -->
<title> RD College Website</title>
<!-- Link to the external stylesheet -->
<link rel="stylesheet" href="/public/css/styles.css">
