<!-- Navigation links -->
 <!-- Navigation links -->
<nav>
    <ul>
        <li><a href="/Student">Student</a></li>
        <li><a href="/Staff">Staff</a></li>
        <li><a href="/Courses">Courses</a></li>
        <li><a href="/Gallery">On campus</a></li>
        <li><a href="/About">About us</a></li>
        <li><a href="/Newspage">News and Events</a></li>
       
    </ul>
    <div class="nav-right">
        <div class="search-bar">
          <input type="text" placeholder="Rapunga / Search" />
          <button type="submit">Q</button>
        </div>
        <div class="sign-in">
            <a href="/logout">Sign out</a>
        </div>
      </div>
</nav>

<nav>
    <a href="/#">Home</a> <!-- Link to the home page -->
    <a href="/about">About</a> <!-- Link to the about page -->
    <a href="/login">Login/Register</a> <!-- Link to the login/register page -->
    <a href="/Gallery">Gallery</a> <!-- Link to the gallery page -->
    <a href="/Contact">Contact</a> <!-- Link to the contact page -->
    <!-- Link to the logout page -->
</nav>
