<!-- Navigation links -->
 
<nav>
    <a href="/#">Home</a> <!-- Link to the home page -->
    <a href="/about">About</a> <!-- Link to the about page -->
    <a href="/login">Login/Register</a> <!-- Link to the login/register page -->
    <a href="/Gallery">Gallery</a> <!-- Link to the gallery page -->
    <a href="/Contact">Contact</a> <!-- Link to the contact page -->
    <a href="/logout">logout</a> <!-- Link to the logout page -->
</nav>
