<!-- Navigation links -->
<nav>
    <ul>
        <a href="/#">Home</a> <!-- Link to the home page -->
        <li><a href="/Student">Student</a></li>
        <li><a href="/Staff">Staff</a></li>
        <li><a href="/Courses">Courses</a></li>
        <li><a href="/Gallery">On campus</a></li>
        <li><a href="/About">About us</a></li>
        <li><a href="/Login">Signin</a></li>
    </ul>
    <div class="search-bar">
        <input type="text" placeholder="Rapunga / Search">
        <button type="Submit">Q</button>
    </div>
</nav>
