<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
              body {
            margin: 0;
            padding: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), /* Dark overlay */
                    url('https://cdn.pixabay.com/photo/2016/02/03/01/12/castle-1176422_1280.jpg') no-repeat center center fixed;
            background-size: cover;
            font-family: Arial, sans-serif;
            height: 180vh; /* Full viewport height */
            justify-content: center;
            display: block;
            align-items: center;
        }
      
        .login-container {
            width: 500px;
            position: relative;
            top: -10%;
            margin: 100px auto;
            padding: 40px;
            border-radius: 10px;
            text-align: center;
        }
        
     
        h1 {
            color: white;
            font-size: 38px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        input[type="text"], input[type="password"] {
            width: 95%;
            padding: 12px;
            margin: 10px 0;
            border: none;
            border-radius: 2px;
            outline: none;
            font-size: 16px;
        }

        .signinb{
            width: 35%;
            padding: 20px;
            background: #005faf;
            border: none;
            border-radius: 50px; /* Rounded Button */
            font-weight: bold;
            color: white;
            cursor: pointer;
            margin-top: 10px;
            font-size: 16px;
            transition: 0.3s ease-in-out;
        }

        .signinb:hover {
            background: white;
            color: #005faf;
        }
        .registerb{
            width: 100%;
            padding: 12px;
            background: white;
            border: none;
            border-radius: 50px; /* Rounded Button */
            font-weight: bold;
            color: #005faf;
            cursor: pointer;
            margin-top: 10px;
            font-size: 16px;
            transition: 0.3s ease-in-out;
        }

        .registerb:hover {
            background: #005faf;
            color: white;
        }

        .b {
            text-decoration: underline;
            color: #cccccc;
            font-size: 18px;
            margin-top: 10px;
            display: inline-block;
        }

        .b:hover{
            color: #005faf;
        }

        p {
            color: white;
            margin: 20px 0 10px;
        }

        .social-buttons {
            display: flex;
            gap: 10px;
        }
        .social-btn {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            border-radius: 50px;
            text-decoration: none;
            font-weight: bold;
            color: white;
            font-size: 14px;
        }
        .social-btn img {
            width: 25px;
            height: 25px;
            margin-right: 8px;
        }
        .realme {
            background-color: white;
            color: orangered;
            transition: 0.3s;
        }
        .realme:hover{
            transform: scale(1.1) ;
        }
        .linkedin {
            background-color: #0077B5;
            transition: 0.3s;
        }
        .linkedin:hover{
            transform: scale(1.1);
        }
        .facebook {
            background-color: #1877F2;
            transition: 0.3s;
        }
        .facebook:hover{
            transform: scale(1.1);
        }
        .google {
            background-color: white;
            color: #757575;
            border: 1px solid #ddd;
            transition: 0.3s;
        }
        .google:hover{
            transform: scale(1.1);
        }
        .separator {
        border-bottom: 1px solid white;
    }
    .text-xs-left {
    text-align: left !important;
}

    </style>
</head>
<body>
   
<div class="login-container">
    <h1> NZ COLLEGE OF EDUCATION AUCKLAND</h1>
    <form action="./auth" method="POST">
        <input type="text" name="username" placeholder="Email or University Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <br><br><br>
        <button class="signinb" type="submit">Sign In →</button>

    </form>
    <br><br>
    <a class="b" href="/reset-password-step1">Forgot your password?</a>

    <br>

    <div class="separator m-b-2"></div>
    <div class="text-xs-left login-white">
        <h3 style="color: whitesmoke;">New to the College?</h3>
        <p> Registering for an account is the first step in applying to study or work at the NZ College of Education Auckland.</p>
    </div>  <br><br>
    <a href="/Register">
        <button class="registerb">Register for a new account</button>
    </a>
    <a class="b" href="/#">Home page</a>
</div>
<%- include('partials/footer.ejs') %>
</body>
</html>
